/* my variables */

:root {
    --clr-primary--300: hsl(215, 51%, 70%);
    --clr-secundary--200: hsl(178, 100%, 50%);

    --clr-neutral-900: hsl(217, 54%, 11%);
    --clr-neutral-800: hsl(216, 50%, 16%);
    --clr-neutral-600: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: "Outfit", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    font-size: 1rem;
    color: var(--clr-primary--300);
    background-color: var(--clr-neutral-900);

    /* since it's a simple project and all the content is center in the middle, I decided to put this on the body */

    display: grid;
    place-content: center;
    margin: 1.5rem;

}


/* utilities */

.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-group-2 {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

/* product styles */

.product {
    /* creating vars for this product class just to make it easier to adjust later in the project */
    
    --contant-padding: 1.5rem;
    --contant-spacing: 1.1rem;
    
    
    display: grid;
    padding: var(--contant-padding);
    gap: var(--contant-spacing);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--clr-neutral-800);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.50);
}

.product__img-container {
    overflow: hidden;
    position: relative;
}

.product__img {
    border-radius: 0.5rem;
}

.img__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: none;
}

.img__overlay img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product__img-container:hover .img__overlay {
    display: block;
    cursor: pointer;
}

.product__content {
    display: grid;
    gap: var(--contant-spacing);
}

.product__title {
    font-size: 1.325rem;
    color: var(--clr-secundary--200);
    font-weight: var(--fw-semi-bold);
    text-decoration: none;
}

.product__price {
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-100);
    display: flex;
    gap: 0.5rem;
}

.product__price[data-icon="eth-icon"]::before {
    content: "";
    background-image: url("images/icon-ethereum.svg");
    width: 11px;
    height: 18px;
}

.product__info-time {
    display: flex;
    gap: 0.5rem;
}

.product__info-time[data-icon="time-icon"]::before {
    content: "";
    background-image: url("images/icon-clock.svg");
    width: 17px;
    height: 17px;
}

.product__line-break {
    border: none;
    height: 0.01rem;
    background-color: var(--clr-primary--300);
}

.profile-avatar {
    width: 12%;
    border: 1px solid var(--clr-neutral-100);
    border-radius: 5rem;
}

.product__author-link {
    text-decoration: none;
    color: var(--clr-neutral-100);
}

.footer { 
    font-size: 11px; text-align: center;
    margin-top: 4rem;
}

.footer a { 
    color: hsl(228, 45%, 44%);
}
